body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("resources/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transform: translateY(60px);
  animation: slideUp 5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.calculator {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 800px;
  overflow: hidden;
}

.calculator-header {
  background: linear-gradient(135deg, #296199, #2c3e50);
  padding: 30px;
  text-align: center;
  color: white;
}

.calculator-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #a0aec0;
  font-size: 1rem;
}

.calculator-body {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.loan-text {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  background: #2c3e50;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 25px;


}

.input-section {
  padding: 10px;
  padding-right: 80px;
  border-right: 1px solid #9aa5b3;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group label {
  display: block;
  color: #4a5568;
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: 1rem;
}

.input-group input {
  width: 100%;
  padding: 12px 35px 12px 15px;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #2c3e50;
  box-shadow: 0 0 0 3px rgba(44, 62, 80, 0.1);
}

.input-icon i {
  position: absolute;
  right: 20px;
  top: 44px;
  color: #718096;
}

#calculateBtn {
  width: 100%;
  padding: 15px;
  background: #223c56;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 25px;
}

#calculateBtn:hover {
  background: #1a252f;
  transform: translateY(-2px);
}

#resetBtn {
  width: 100%;
  padding: 15px;
  background: #1d5b99;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 25px;
}
#resetBtn i{
  display: inline-block;
  transition: transform 0.5s ease;
}
#resetBtn:hover{
  background: #1a252f;
  transform: translateY(-4px);
}
#resetBtn:hover  i{
 transform: rotate(360deg);
}


.results {
  padding: 10px;

}

.results h3 {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  background: #2c3e50;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;

}

.result-grid {
  display: grid;
  gap: 20px;
}

.result-item {
  background: #f7fafc;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.result-label {
  display: block;
  color: #718096;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.result-value {
  display: block;
  color: #2d3748;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer {
  background: linear-gradient(135deg, #1a1a1a3b, #2c3e5060);
  color: #ECECEB;
  padding: 1rem;
  text-align: center;
}

.social-links {
  margin-top: 1rem;
}

.social-links a {
  color: #ECECEB;
  margin: 0 0.5rem;
  font-style: 1.5rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #a19f9f;
}


@media (max-width: 768px) {
  .calculator-body {
    grid-template-columns: 1fr;
    box-shadow: 0 2px 4px black;
  }

  .input-section {
    padding-right: 50px;
    border-right: none;
    border-bottom: 1px solid #e2e8f0;
    padding-bottom: 30px;
  }

  .calculator {
    background: rgba(255, 255, 255, 0.644);
    box-shadow: 0 0 5px rgba(44, 62, 80, 0.382);
  }

  .calculator-header {
    background: linear-gradient(135deg, #011a34be, #2c3e508e);
    padding: 30px;
    text-align: center;
    color: white;
  }

  .subtitle {
    color: #2cc2f3f2;
    font-size: 1rem;
  }

  .input-group label {

    color: #153060;

  }
}